.about {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  box-sizing: border-box;
  background-color: $light-grey;
  font-size: 32px;
  line-height: 48px;

  a {
    color: $blue;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus, {
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      transition-property: background-color, color, border-color, box-shadow;
      transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
      transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
      transition-delay: 0s, 0s, 0s, 0s;
      color: $red;      
    }
  }
}

.about__info {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 68px;
  max-width: 960px;
  text-align: center;
}

.about__info::before {
  content: "";
  display: block;
  position: absolute;
  left: 430px;
  top: -55px;
  width: 120px;
  height: 15px;
  background-image: url("../img/curl1.svg");
  background-repeat: no-repeat;
}

.about__info::after {
  content: "";
  display: block;
  position: absolute;
  left: 430px;
  top: 200px;
  width: 120px;
  height: 15px;
  background-image: url("../img/curl2.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

@media screen and (max-width: 1023px) {
  .about {
    width: 100%;
  }

  .about__info {
    max-width: 600px;
    margin-top: 40px;
    margin-bottom: 48px;
  }

  .about__info::before {
    left: 240px;
    top: -45px;
  }

  .about__info::after {
    left: 240px;
    top: 270px;
  }
}

@media screen and (max-width: 767px) {
  .about {
    display: none;
  }
}
