.button {
	display: block;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;

	&:hover {
		background-color: $red;
		border: 1px solid $red;
	}
}

.button-big {
	width: 257px;
	height: 58px;
	border: 1px solid $blue;


}

.button-big +.button-blue {
	margin-right: 10px;
}

.button-blue {
	background-color: $blue;
}

.button-white {
	border: 1px solid #ffffff;
}

.button-middle {
	width: 182px;
	height: 45px;
}

.button-middle +.button-white {
	margin-left: 4px;
	color: $blue;
	border: 2px solid $blue;

	&:hover {
		color: #ffffff;
		border: none;
	}
}

.buttons-wrapper__main {
	margin-top: 18px;
}
