.button {
  display: block;
  font: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  border: none;

  &:hover,
  &:active,
  &:focus, {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color, color, border-color, box-shadow;
    transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
    background-color: $red;
    border: 1px solid $red;
  }
}

.button-big {
  padding-left: 62px;
  padding-right: 62px;
  box-sizing: border-box;
  height: 58px;
  min-width: 268px;
  border: 1px solid $blue;
  margin-right: 15px;
}

.button-project {
  margin-left: auto;
  padding-top: 15px;
}

.button-blue {
  background-color: $blue;
}

.button-white {
  border: 1px solid #ffffff;
}

.button-middle {
  width: 182px;
  height: 45px;
}

.button-middle +.button-white {
  margin-left: 4px;
  color: $blue;
  border: 2px solid $blue;

  &:hover {
    color: #ffffff;
    border: none;
  }
}

.buttons-wrapper__main {
  margin-top: 0;
}

.button-pay {
  padding: 8px 10px;
  border: 1px solid $blue;
}

.button-cross {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(0  );
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  appearance: none;
  border: none;
  background-color: transparent;
  background-position: center;
  background-image: url("../img/icon-cross-black.svg");
  background-repeat: no-repeat;
  outline: none;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-radius: 50%;
    background-color: $blue;
    transition: all ease-in-out .2s;
    background-image: url("../img/icon-cross.svg");
    background-repeat: no-repeat;
  }
}

.rotate {
  transform: translateY(-50%) rotate(-45deg);
  transition: all ease-in-out .2s;
}

@media screen and (max-width: 1023px) {
  .button-participate {
    margin-bottom: 10px;
  }

  .buttons-wrapper__main {
    flex-direction: column;
  }

  .button-middle +.button-white {
    margin-left: 0;
    margin-top: 8px;
  }

  .button-project {
    margin: 0 auto;
  }

  .button-cross {
    right: -35px;
  }
}

@media screen and (max-width: 767px) {
  .buttons-wrapper {
    flex-wrap: wrap;
  }

  .button-big {
    width: 208px;
    padding-left: 0;
    padding-right: 0;
  }

  .button-big {
    margin-bottom: 10px;
  }

  .button-middle {
    width: 240px;
  }
}
