.faqs {
  padding-top: 90px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 90px;
  padding-bottom: 90px;
  padding-left: 20px;
  list-style: none;
}

.faq-list__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 50px;
  color: $blue;
  font-size: 21px;
  font-weight: 600;
}

.faq-list__item {
  position: relative;
  display: block;
  width: 63%;
  border-top: 1px solid $light-grey;
}

.faq-list__whole {
  display: block;
}

.faq-list__item:last-child {
  border-bottom: 1px solid $light-grey;
}

.faq-list__answer {
  margin: 0;
  padding: 0;
  max-height: 0;
  transition: max-height ease-in-out .3s;
  overflow: hidden;
}

.faq-list__answer--opened {
  display: block;
  max-height: 200px;
  transition: max-height ease-in-out .3s;
  margin-bottom: 40px;
}

.faq-list__wrapper {
  position: relative;
  cursor: pointer;
}


@media screen and (max-width: 1023px) {
  .faq-list {
    width: 93%;
    padding: 0;
    padding-bottom: 90px;
    margin: 0;
    margin-top: 45px;
  }

  .faq-list__item {
    width: 93%;
  }
}

@media screen and (max-width: 767px) {
  .faq-list {
    align-items: flex-start;
    width: 87%;
    margin: 0;
    margin-top: 45px;
    padding-left: 20px;
  }

  .faq-list__title {
    padding-top: 15px;
    padding-bottom: 14px;
  }
}
