.features {
  padding-top: 90px;
  padding-bottom: 55px;
  background-color: $light-grey;
}

.features-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
}

.features-list__title {
  padding-left: 200px;
  margin: 0;
  margin-top: 27px;
  margin-right: 10px;
  min-width: 350px;
  width: 450px;
  font-size: 24px;
  line-height: 32px;
  color: $blue;
}

.features-list__item {
  display: flex;
  justify-content: space-between;
}

.features-list__description {
  margin-right: 110px;
  max-width: 46%;
  width: 560px;
}

@media screen and (max-width: 1023px) {
  .features {
    padding-bottom: 43px;
  }

  .features-list {
    width: 600px;
    padding-left: 20px;
    padding-top: 25px;
  }

  .features-list__title {
    margin: 0;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 0;
    width: auto;
    font-size: 22px;
    line-height: 30px;
  }

  .features-list__description {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 25px;
  }

  .features-list__item {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .features {
    padding-bottom: 60px;
  }

  .features-list {
    width: 280px;
    padding-left: 0;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
  }

  .features-list__item {
    width: 280px;
  }

  .features-list__title {
    min-width: 100%;
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 37px;
    font-weight: 600;
  }

  .features-list__description {
    max-width: 280px;
    width: auto;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 20px;
  }
}
