.features {
  padding-top: 90px;
    padding-bottom: 50px;
  background-color: $light-grey;
}

.features-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.features-list__title {
  padding-left: 200px;
  color: $blue;
}

.features-list__item {
  display: flex;
  justify-content: space-between;
}

.features-list__description {
  margin-right: 110px;
  width: 560px;
}
