.feedback {
  padding-top: 90px;
}

.feedback-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.feedback-list__item {
  margin-right: 20px;
  width: 30%;
  box-sizing: border-box;
}

.feedback-list__text {
  min-height: 342px;
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  background-color: $light-grey;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.feedback-author, .feedback-level {
  margin: 0;
  padding: 0;
  text-align: center;
}

.feedback-author {
  margin-top: 12px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: $blue;
}

.feedback-level {
  font-size: 14px;
  line-height: 22px;
  color: #777777;
}

@media screen and (max-width: 1023px) {
  .feedback-list {
    flex-direction: column;
    padding-left: 0;
    margin-top: 70px;
  }

  .feedback-list__item {
    width: 84%;
    height: auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    box-sizing: border-box;

      &:first-child {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .feedback-list__text {
    min-height: auto;
    padding: 30px 30px 15px 30px;
    font-size: 14px;
    line-height: 22px;

    &:first-child {
    padding-bottom: 15px;
  }
  }

  .feedback-author {
    margin-top: 15px;
    font-size: 14px;
    line-height: 19px;
  }

  .feedback-level {
    font-size: 12px;
    line-height: 19px;
  }
}

@media screen and (max-width: 767px) {
  .feedback {
    display: none;
  }
}
