.page-footer {
	display: flex;
	background-color: #000000;
}

.page-footer__copyright {
	color: #ffffff;
}

.page-footer__wrapper {
	margin-left: auto;
 	margin-right: auto;
 	padding: 0;
 	width: 1200px;
}