.page-main__title {
  margin: 0;
  margin-bottom: 70px;
  color: $blue;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
}

.page-main__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 1200px;
}

@media screen and (max-width: 768px) {
  .page-main__wrapper {
    width: 640px;
  }

  .page-main__title {
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 47px;
  }
}

@media screen and (max-width: 320px) {
  .page-main__wrapper {
    width: 320px;
  }

  .page-main__title {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    line-height: 37px;
    font-weight: 600px;
  }
}
