.problems {
  padding-top: 90px;
  padding-bottom: 30px;
}

.problems-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 0 20px;
  justify-content: space-around;
  margin: 0;
  // margin-left: 35px;
  // margin-right: 35px;
  // padding: 0;
  // padding-top: 20px;
  // box-sizing: border-box;
  // width: 100%;
  list-style: none;
}

.problems-list__item {
  display: block;
  box-sizing: border-box;
  // margin-right: 15px;
  padding-left: 10px;
  padding-bottom: 55px;
  width: 42%;
}

.problems-list__title {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  color: $blue;
}

.problems-list__title::before {
  content: "";
  display: block;
  position: absolute;
  left: -50px;
  top: -5px;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkmark.svg");
}

.problems-list__description {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .problems-list {
    flex-direction: column;
  }

  .problems-list__description {
    width: 550px;
  }

  .problems {
    padding-bottom: 45px;
  }

  .problems-list__item {
    width: 100%;
    padding-left: 35px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 767px) {
  .problems {
    padding-bottom: 70px;
  }

  .problems-list__item {

    padding-bottom: 0;
    margin-bottom: 30px;
  }

  .problems-list__description {
    width: 230px;
  }

  .problems-list__title {
    font-size: 23px;
    line-height: 31px;
  }
}
