.slider-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.slider__scroller {
  display: flex;
  flex-direction: row;
  max-width: 1240px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  transition: transform 1s ease-in-out;
}

.slider-previews {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

.slider-button {
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
}

.button-back {
  position: absolute;
  left: 15px;
  font-size: 14px;
  line-height: 22px;
  color: $blue;

  &:hover {
    opacity: 0.6;
  }
}

.button-close svg {
  &:hover {
    opacity: 0.6;
  }
}

.slider__description {
  width: 20%;
  margin-left: 40px;
  margin-right: 20px;
}

.slider__photo {
  width: 860px;
  height: auto;
  vertical-align: bottom;
  font-size: 0;
  line-height: 0;
}

.slider__description--text {
  font-size: 14px;
  line-height: 22px;
}

.slider__thumb {
  width: 58px;
  height: 58px;
  vertical-align: bottom;
  font-size: 0;
  line-height: 0;
}

.slider-previews__item {
  margin: 0 2px;
  border: none;
  outline: none;
  background: transparent;

  &:hover {
    opacity: 0.5;
  }

  &:active,
  &:focus {
    box-shadow: 0px 0px 0px 2px #000000 inset,    
  }
}

.slider__description--info {
  margin: 0;
}

.button-prev {
  position: absolute;
  left: 330px;
  top: 350px;
  width: 8px;
  height: 13px;
  background-image: url("../img/icon-prev.svg");
  transform: rotate(180deg);
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: #ffffff;

  &:hover {
    background-color: $red;
  }
}

.button-next {
  position: absolute;
  left: 1150px;
  top: 350px;
  width: 8px;
  height: 13px;
  background-image: url("../img/icon-next.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: #ffffff;

  &:hover {
    background-color: $red;
  }
}

.slider__description--price,
.slider__description--level,
.slider__description--graduates {
  margin-bottom: 20px;
}

.button-back {
  position: absolute;
  margin-top: 15px;
}

.button-close {
  position: absolute;
  margin-top: 15px;
}

@media screen and (max-width: 1023px) {
  .slider__scroller {
    flex-direction: column;
  }

  .slider__description {
    width: 100%;
    margin: 0;
  }
}

.slider__description--text {
  font-size: 12px;
  line-height: 19px;
}
