.social {
  display: flex;
  padding-top: 10px;
  margin: 0;
  list-style: none;
}

.social__item {
  margin-right: 10px;

  &:hover svg,
  &:focus svg,
  &:active svg {
    opacity: 0.7;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color, color, border-color, box-shadow;
    transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
  }
}

@media screen and (max-width: 768px) {
  .social {
    padding-left: 30px;
  }
}

@media screen and (max-width: 320) {
  .social {
    padding-left: 10px;
  }
}
