.swiper-container {
  position: relative;
  width: 860px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  img {
    height: auto;
    width: 100%;
  }
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.gallery-thumbs {
  height: auto;
  box-sizing: border-box;
  padding: 10px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.gallery-thumbs__thumb {
  width: 60px;
  height: 60px;
  max-width: 60px;
  overflow: hidden;
  position: relative;
  margin-right: 15px;

  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 60px;
    max-width: none;
  }
}

.slider-wrapper {
  position: fixed;
  display: block;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  padding: 80px 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.slider__description {
  width: 20%;
  margin-left: 40px;
  margin-right: 20px;
}

.slider__description--text {
  font-size: 14px;
  line-height: 22px;
}

.button-close {
  position: absolute;
  right: 20px;
  top: 25px;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
}

.button-back {
  position: absolute;
  left: 10px;
  top: 25px;
  font-size: 14px;
  line-height: 22px;
  color: $blue;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;


  &:hover {
    opacity: 0.6;
  }
}

.button-close svg {
  &:hover {
    opacity: 0.6;
  }
}

.swiper-button-prev::before {
  content: "";
  display: block;
  z-index: 1;
  width: 20px;
  height: 20px;
  color: red;
}

.swiper-button-prev::after {
  content: "";
  display: block;
  top: 18px;
  z-index: 1;
  width: 2px;
  height: 7px;
  color: red;
  transform: rotate(-90deg);
}

.swiper-button-prev {
  position: absolute;
  top: 113px;
  left: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.swiper-button-next::before {
  content: "";
  display: block;
  z-index: 1;
  width: 2px;
  height: 7px;
  color: red;
}

.swiper-button-next::after {
  content: "";
  display: block;
  top: 18px;
  z-index: 1;
  width: 2px;
  height: 7px;
  color: red;
  transform: rotate(-90deg);
}

.swiper-button-next {
  position: absolute;
  top: 113px;
  left: 573px;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .slider-wrapper {
    flex-direction: column;
  }

  .slider__description {
    width: 100%;
    margin: 0;
  }

  .swiper-container {
     width: 100%;
  }
}

.slider__description--text {
  font-size: 12px;
  line-height: 19px;
}
